on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  ios-match-setup:
    runs-on: macos-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v4

      - name: Install fastlane
        run: gem install fastlane

      - name: Debug repo structure
        run: |
          pwd
          ls
      - name: Test git auth for cert repo
        run: |
          git ls-remote https://github.com/Jara03/ios-certificates.git


      - name: Run fastlane match (one-time setup)
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
        run: |
          cd Build
          fastlane match appstore
