
name: Unity iOS CI/CD (Hybrid)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  unity-build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Unity batchmode build (iOS)
        run: |
          "C:\Program Files\Unity\Hub\Editor\6000.0.59f2\Editor\Unity.exe" ^
          -batchmode -quit -projectPath . ^
          -executeMethod BuildScript.BuildiOS ^
          -logFile unity_build.log
        shell: cmd

      - name: Debug build folder
        run: |
          echo "Listing Build directory"
          dir Build
        shell: cmd
      

      - name: Copy fastlane config into Xcode build
        shell: cmd
        run: |
          mkdir Build\iOS\fastlane
          xcopy Build\fastlane Build\iOS\fastlane /E /I /Y


      - name: Upload Xcode Project as artifact
        uses: actions/upload-artifact@v4
        with:
          name: xcode-project
          path: Build/iOS
          if-no-files-found: error


  ios-compile-deploy:
    runs-on: macos-latest
    needs: unity-build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: xcode-project
          path: Build/iOS
          


      - name: Install Ruby & Fastlane
        run: |
          gem install bundler
          gem install fastlane

      - name: Debug fastlane presence
        working-directory: Build/iOS
        run: |
          ls
          ls fastlane


      - name: Build & Upload to TestFlight
        working-directory: Build/iOS
        env:
          APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_URL: https://x-access-token:${{ secrets.PAT_AUTH }}@github.com/Jara03/ios-certificate.git
        run: |
          fastlane beta
