
name: Unity iOS CI/CD (Hybrid)

on:
  push:
    branches: ["main"]
  workflow_dispatch:
      inputs:
        skip_unity_build:
          description: "Skip Unity build (use last iOS artifact)"
          required: false
          default: "false"
jobs:
  unity-build:
    if: github.event.inputs.skip_unity_build != 'true'
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Unity batchmode build (iOS)
        run: |
          "C:\Program Files\Unity\Hub\Editor\6000.0.59f2\Editor\Unity.exe" ^
          -batchmode -quit -projectPath . ^
          -executeMethod BuildScript.BuildiOS ^
          -logFile unity_build.log
        shell: cmd

      - name: Debug build folder
        run: |
          echo "Listing Build directory"
          dir Build
        shell: cmd
      

      - name: Copy fastlane config into Xcode build
        shell: cmd
        run: |
          mkdir Build\iOS\fastlane
          xcopy Build\fastlane Build\iOS\fastlane /E /I /Y


      - name: Upload Xcode Project as artifact
        uses: actions/upload-artifact@v4
        with:
          name: xcode-project
          path: Build/iOS
          if-no-files-found: error
